# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# Virtual environment
ven/
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Node (if any)
node_modules/

# Migration cache
**/migrations/__pycache__/
